{
    auto_https off
    debug
}

:{$PORT} {
    encode 

    # Backend service
    handle_path /api* {
        reverse_proxy {$BACKEND_URL}:{$BACKEND_PORT}
    }

    # Frontend SPA as static file
    handle {
        root * ./dist
        try_files {path} /index.html
        file_server
    }
}