@font-face {
    font-family: 'Balatro'; /*a name to be used later*/
    src: url('../../assets/fonts/balatro.otf'); /*URL to font*/
}
.board-container {
    height: 90vmin;
    width: 90vmin;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Balatro;
}