/* Dev colors */
.bid-panel  {
    border: solid;
    width: 30vmin;
}

.bid-panel h1, h2, h3, h4, h5, h6 {
    margin: 8px;
}

.item {
    border-radius: 8px;
    border: solid;
    background-color: #333333;
    color: white;
    margin: 2px;
    padding: 4px;
    text-align: center;
    font-size: larger;
}


.item .item {
    background-color: #414141;
}

.item .item .item {
    background-color: #6D6D6D;
}

.time-and-title {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.bid-info {
    display: flex;
}

.bid-info .item {
  flex: 1; /* makes both items take up equal space */
  padding: 1rem;
  text-align: center;
  border: 1px solid #ccc;
}

.bid-menu {
    display: flex;
}

.bid-menu .left {
    flex: 2
}

.bid-menu .right {
    flex: 1
}

.bid-fold {
    display: flex
}

.bid-fold .item {
    flex: 1
}

.increment-stack {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}