#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* make the container a flex row */
.game {
  display: flex;
  align-items: center;
}


/* pin the menu to the right of the board */
.menu {
  display: flex;
  width: 40vmin; 
  flex-direction: column;
  flex: 0 0 300px;            /* fixed width (adjust as needed) */
  margin-left: 20px;          /* gap between board & menu */
  justify-content: space-between;
  position: relative;
}

.highlight {
  box-shadow: inset 0 0 0 3px green; /* An outline to make it really stand out */
}

.lowlight {
  opacity:0.5;
  cursor: not-allowed;
}
