#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: 'Balatro';
  src: url('./assets/fonts/balatro.otf.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #1E1E1E;
  color: #F2F0EF;
  font-family: 'Balatro';
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

button {
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  color: #F2F0EF;
  font-family: 'Balatro';
  font-size: large;
}

.green {
  background-color: #60BB64;
}

.red {
  background-color: #F35043;
}

/* make the container a flex row */
.game {
  display: flex;
  align-items: center;
}


/* pin the menu to the right of the board */
.menu {
  display: flex;
  width: 40vmin; 
  flex-direction: column;
  flex: 0 0 300px;            /* fixed width (adjust as needed) */
  margin-left: 20px;          /* gap between board & menu */
  justify-content: space-between;
  position: relative;
}

.highlight {
  box-shadow: inset 0 0 0 3px green; /* An outline to make it really stand out */
}

.lowlight {
  opacity:0.5;
  cursor: not-allowed;
}
